<h1>Aces Up</h1>

<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<script>
    function Refresh ( ) {
		location.reload();
	}
</script>

<body>
<p>	<h3>Rules of Aces Up from wikipedia</h3>
    1. Deal four cards in a row face up.<br>
	2. If there are two or more cards of the same suit, discard all but the highest-ranked card of that suit.<br>
	3. Repeat step 2 until there are no more pairs of cards with the same suit. <br>
	4. Whenever there are any empty spaces, you may choose the top card of another pile to be put into the empty space. After you do this, go to Step 2.<br>
	5. When there are no more cards to move or remove, deal out the next four cards from the deck face-up onto each pile.<br>
	6. Repeat Step 2, using only the visible, or top, cards on each of the four piles.<br>
	7. When the last four cards have been dealt out and any moves made, the game is over. The fewer cards left in the tableau, the better. 
	To win is to have only the four aces left.<br>
	When the game ends, the number of discarded cards is your score. The maximum score is 48, 
	which means all cards have been discarded except for the four aces, thus the name of the game.<br><br></p>

<table>
    <tr class="title">
        <td>Column1</td>
        <td >Column2</td>
        <td >Column3</td>
        <td >Column4</td>
    </tr>

    <tr><td class="columnOfCards" id="c1">
        <table>
            <tr><td class="cardLocation l0"></td></tr>
            <tr><td class="cardLocation l1"></td></tr>
            <tr><td class="cardLocation l2"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
           <!-- <tr><td><button id="remove1">Remove</button></td></tr> -->
        </table>
    </td>
        <td class="columnOfCards" id="c2">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <!--<tr><td><button id="remove2">Remove</button></td></tr>-->
            </table>
        </td>
        <td class="columnOfCards" id="c3">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <!--<tr><td><button id="remove2">Remove</button></td></tr>-->

            </table>
        </td>
        <td class="columnOfCards" id="c4">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <!-- <tr><td><button id="remove4">Remove</button></td></tr> -->
            </table>
        </td>
    </tr>
</table>

<button id="dealButton">Deal</button>
<button id="reset" onclick="Refresh()">Play it again</button>


</body>
</html>